.product-details{
    display: flex;
    border-bottom: 1px solid lightgray;
    margin-right: 5px;
    padding-bottom: 10px;
    

}

.product-name{
    color: blue;

}
.btn-regular{
    background-color: goldenrod;
    width: 150px;
    height: 25px;
    border: 1px solid gray ;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 700;

}
.icon{
    color: rgb(153, 17, 39);
}